<div>
    <div>
    <h1>Productos Realtime</h1>
    <div id="prods">
    {{#each products}}
            <h2>{{this.title}}</h2>
            <h3>{{this.price}}</h3>
            <p>{{this.stock}}</p>
    {{/each}}
    </div>
</div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>