<div class="container my-5 ">
    <h1>Registrarse</h1>
    <form id="registerForm">
        <label>Nombre</label>
        <input class="form-control" name="first_name">
        <br/>
        <label>Apellido</label>
        <input class="form-control" name="last_name">
        <br/>
        <label>Email</label>
        <input class="form-control" name="email">
        <br/>
        <label>Edad</label>
        <input class="form-control" name="age">
        <br/>
        <label>Contraseña</label>
        <input class="form-control" type="password" name="password">
        <input class=" my-3 btn btn-primary" type="submit">
    </form>
    <p>¿Ya tienes una cuenta? <a href="/login">Ingresa aquí</a></p>
</div>
<script src="../js/register.js"></script>