<div class="container">
    <form id="passwordForm">
        <h1>Ingrese su contrasena anterior</h1>
        <input type="password" name="expassword" id="expassword">
        <h1>Ingrese su nueva contrasena</h1>
        <input type="password" name="newpassword" id="newpassword">
        <input class=" my-3 btn btn-primary" type="submit">
    </form>
</div>
<script src="../js/password.js"></script>